body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #96e6f2;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
    line-height: 1.6;
    background-color: #FFF;
    color: #333;
}

.intro, .area, .services {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #96e6f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}

a {
    color: #0077CC;
}
